{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap" rel="stylesheet" />
        <title>YOLOPAY</title>
    </head>
    <body>
        <div class="header"></div>
        <div class="signUp_container flex">
            <a href="{% url 'main' %}" class="logo">YOLOPAY</a>
            <p class="title">회원가입</p>
            <form action="" method="POST" class="signUp_Form flex">
                <input type="text" name="name" class="signUp_Input" placeholder="Name" />
                <input type="email" name="email" class="signUp_Input" placeholder="Email" />
                <input type="password" name="password" class="signUp_Input" placeholder="Password" />
                <input type="number" name="age" class="signUp_Input" placeholder="Age" />
                <input type="submit" id="signUp_Button" value="회원가입" />
            </form>
        </div>
    </body>
</html>
