body {
    margin: 0;
    background-color: #d4f6db;
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    height: 60px;
    left: 0px;
    top: 0px;
    background-color: #f2fff5;
}

.signIn_container {
    width: 530px;
    margin: 80px auto 0;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.logo {
    font-family: 'Righteous', cursive;
    text-decoration: none;
    margin: 50px 0 0;
    color: #2ecc70;
    font-size: 40px;
}

.title {
    font-size: 30px;
    margin: 20px 0 25px;
}

.signIn_Form {
    width: 55%;
}

.signIn_Input {
    border: 1.5px solid #686868;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 100%;
    height: 30px;
    padding: 5px 0 5px 15px;
}

.signIn_Input::placeholder {
    font-size: 15px;
    color: #cecece;
}

#signIn_Button {
    background: #2ecc70;
    border-radius: 30px;
    border: none;
    color: white;
    padding: 10px 55px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
}

.join {
    margin: 30px 0 50px;
}

.join p {
    font-weight: 500;
}

.joinButton {
    text-decoration: none;
    font-weight: bold;
    color: #2aa45d;
}
