@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
body {
    width: 100vw;
    overflow: hidden;
    margin-left: calc(-50vw + 50%);
    background-color: #d4f6db;
    font-family: 'Kanit', sans-serif;
}
.title {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
}
ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

textarea:focus {
    outline: none;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 900px;
    height: 500px;
    margin: 80px auto;
}

.calendar-base {
    width: 900px;
    height: 500px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    color: black;
}

.year {
    color: #e8e8e8;
    font-size: 30px;
    float: right;
    position: relative;
    right: 75px;
    top: 20px;
    font-weight: bold;
}

.triangle-left {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-right: 10px solid #e8e8e8;
    border-bottom: 5px solid transparent;
    float: right;
    position: relative;
    right: 90px;
    top: 36px;
}

.triangle-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid #e8e8e8;
    border-bottom: 5px solid transparent;
    float: right;
    position: relative;
    left: 20px;
    top: 36px;
}
.triangle-left:hover {
    border-right: 10px solid#2ECC71;
}
.triangle-right:hover {
    border-left: 10px solid#2ECC71;
}

.calendar-dates {
    margin-left: 300px;
}

.month-color {
    color: #27ae60;
}
.month-hover:hover {
    color: #27e879 !important;
}

.months {
    color: #aaaaaa;
    position: relative;
    /* left: 350px; */
    top: 30px;
    word-spacing: 10px;
    width: 560px;
    margin: 0 20px;
}

.month-line {
    border-color: #e8e8e8;
    position: relative;
    top: 40px;
    width: 95%;
    /* left: 178px; */
}

.days {
    color: #aaaaaa;
    position: relative;
    font-size: 18px;
    /* left: 355px; */
    top: 45px;
    word-spacing: 35px;
    font-weight: 600;
    width: 560px;
    margin: 0 20px;
}

.num-dates {
    position: relative;
    top: 65px;
}

.num-dates li{
    cursor:pointer;
}

.first-week {
    margin-bottom: 14px;
    word-spacing: 55px;
}

.second-week {
    margin-bottom: 14px;
    word-spacing: 53px;
}

.third-week {
    margin-bottom: 14px;
    word-spacing: 58px;
}

.fourth-week {
    margin-bottom: 14px;
    word-spacing: 58px;
}

.fifth-week {
    margin-bottom: 14px;
    word-spacing: 56px;
}

.sixth-week {
    margin-bottom: 14px;
    word-spacing: 55px;
}

/* .active-day span {
    /* width: 35px;
    height: 35px; */
    /* border-radius: 50%; */
    /* background-color: #2ecc71; */
    /* position: relative;
    top: 295px;
    left: 661px; */
} */

.white {
    color: white;
}

.event-indicator {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #2980b9;
    position: relative;
    top: 304px;
    left: 695px;
}

.two {
    position: relative;
    top: 168px;
    left: 535px;
}

.grey {
    color: #aaaab1;
}

.calendar-left {
    width: 300px;
    height: 500px;
    border-radius: 20px 0px 0px 20px;
    background-color: #2ecc71;
    position: relative;
    bottom: 500px;
    color: white;
}

.hamburger {
    position: relative;
    top: 25px;
    left: 25px;
}

.statsButton {
    text-decoration: none;
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #007732;
    font-size: 15px;
    font-weight: bold;
    padding: 5px 10px;
    margin-right:10px;
    cursor: pointer;
}

/* .burger-line:hover,
.hamburger:hover {
    background-color: #27e879 !important;
} */

.burger-line {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 15%;
    margin-bottom: 3px;
}



.num-date {
    font-size: 150px;
    width: 50%;
    margin: 0 auto;
    font-weight: 700;
}

.day {
    width: 50%;
    margin: 0px auto;
    font-size: 30px;
    position: relative;
    bottom: 60px;
    text-align: center;
}

.current-events {
    font-size: 15px;
    position: relative;
    margin-left: 25px;
    bottom: 30px;
}

.today {
    display: block;
    margin-bottom: 20px;
}

.posts {
    text-decoration: underline dotted;
}
.posts:hover {
    color: #27e879 !important;
}

.create-event {
    font-size: 18px;
    position: relative;
    margin-top: 30px;
    margin-left: 25px;
}

.event-line {
    width: 90%;
}

.add-event {
    width: 20px;
    height: 20px;
    padding: 0px;
    border-radius: 50%;
    border: solid white 2px;
    position: relative;
    bottom: 42px;
    left: 260px;
}

.add {
    font-size: 25px;
    position: relative;
    left: 4px;
    bottom: 10px;
}

.add:hover,
.create-event:hover,
.add-event:hover {
    color: #27e879 !important;
    border-color: #27e879 !important;
}

#bg {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgba(75, 75, 75, 0.37);
    backdrop-filter: blur(2px);
}

#dailyModal {
    display: none;
    position: fixed;
    margin: 0 auto;
    top: 50px;
    left: 0;
    right: 0;
    width: 500px;
    height: 600px;
    background: #f3f5e1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.modal_container {
    padding: 10px 30px;
}

.close {
    position: absolute;
    font-size: 25px;
    color: black;
    right: 20px;
}

.modal_container form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.formTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 5px;
}

.record {
    resize: none;
    border: 1px solid #dee2e6;
    border-radius: 15px;
    height: 150px;
    margin-bottom: 10px;
}

.input_container {
    background: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 15px;
    padding: 10px 0;
    margin-bottom: 10px;
}


.input_container i {
    font-size: 50px;
}

.radiofire {
    display: inline-block;
}

.radioyolo {
    display: inline-block;
}

.radiofire img {
    width: 100px;
}

.radioyolo img {
    width: 100px;
}



#submit {
    color: white;
    background: #2ecc70;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 16px;
    margin-top: 10px;
    width: 100px;
    padding: 5px 0;
    font-weight: 900;
    position: absolute;
    right: 20px;
    top: 535px;
}

#statsModal {
    display: none;
    position: fixed;
    margin: 0 auto;
    top: 100px;
    left: 0;
    right: 0;
    width: 500px;
    height: 500px;
    background: #f3f5e1;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.rate {
    display: flex;
    margin-top: 15px;
    margin-bottom: 50px;
}

.yoloRate {
    background: #2ecc70;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px 0px 0px 15px;
    width: 30%;
    padding: 5px;
    color: white;
    font-size: 20px;
}

.yoloRate img {
    width: 30px;
    padding-left: 10px;;
    padding-right: 10px
}

.fireRate {
    background: #fb6900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 15px 15px 0px;
    width: 70%;
    padding: 5px;
    text-align: end;
    color: white;
    font-size: 20px;
}

.fireRate img {
    width: 30px;
    padding-left: 10px;;
    padding-right: 10px;
}

.yoloRate *{
    vertical-align: middle;
}

.fireRate *{
    vertical-align: middle;
}


.emotionStats {
    display: flex;
    justify-content: space-between;
    padding: 5px 30px;
}

.emotionStats div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#evaluation {
    padding: 5px 10px;
}

li img {
    width: 23px;
    margin-left: 20px;
}

ul li {
    display: flex;
    flex-direction: column;
}

#todayEmotion_emo{
    padding-top:10px;
    padding-left:20px;
}

#todayEmotion_emo *{
    font-size: 40px;
}