{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/calendar.css' %}" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet" />
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
            integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
            crossorigin="anonymous"
        />
        <script src="{% static 'js/calendar.js' %}"></script>
        <title>YOLOPAY</title>
    </head>
    <body>
        <div class="container">
            <div class="calendar-base">
                <div class="year">2021</div>
                <!-- year -->

                <div class="triangle-left"></div>
                <!--triangle -->
                <div class="triangle-right"></div>
                <!--  triangle -->
                <div class="calendar-dates">
                    <div class="months flex">
                        <span class="month-hover">Jan</span>
                        <span class="month-hover">Feb</span>
                        <span class="month-hover">Mar</span>
                        <span class="month-hover">Apr</span>
                        <span class="month-hover">May</span>
                        <span class="month-hover">Jun</span>
                        <span class="month-hover">July</span>
                        <span class="month-hover">Aug</span>
                        <strong class="month-color">Sep</strong>
                        <span class="month-hover">Oct</span>
                        <span class="month-hover">Nov</span>
                        <span class="month-hover">Dec</span>
                    </div>
                    <!-- months -->
                    <hr class="month-line" />

                    <div class="days flex">
                        <ul class="flex" style="width: 100%; margin-right: 20px">
                            <li>SUN</li>
                            <li>MON</li>
                            <li>TUE</li>
                            <li>WED</li>
                            <li>THU</li>
                            <li>FRI</li>
                            <li>SAT</li>
                        </ul>
                    </div>
                    <!-- days -->
                    <!-- <strong class="white">30</strong> -->
                    <div class="num-dates" id="num-dates">
                        <!-- <div class="first-week"><span class="grey">29 30 31 </span> 01 02 03 04</div> -->
                        <div class="first-week flex">
                            <span class="grey" style="width: 43%">
                                <ul id="first-week-1"></ul>
                            </span>
                            <ul style="width: 57%" id="first-week-2"></ul>
                        </div>
                        <!-- first week -->
                        <!-- <div class="second-week">05 06 07 08 09 10 11</div> -->
                        <div class="second-week">
                            <ul id="second-week"></ul>
                        </div>
                        <!-- week -->
                        <div class="third-week">
                            <ul id="third-week"></ul>
                        </div>
                        <!-- week -->
                        <div class="fourth-week">
                            <ul id="fourth-week"></ul>
                        </div>
                        <!-- week -->
                        <div class="fifth-week flex">
                            <ul id="fifth-week-1" style="width: 71%"></ul>
                            <span class="grey" style="width: 29%">
                                <ul id="fifth-week-2"></ul>
                            </span>
                        </div>
                        <!-- week -->
                    </div>
                </div>
                <!-- num-dates -->
                <!-- <div class="event-indicator"></div> -->
                <!-- event-indicator -->
                <!-- <div class="active-day"></div> -->
                <!-- active-day -->
                <!-- <div class="event-indicator two"></div> -->
                <!-- event-indicator -->
            </div>
            <!-- calendar-base -->
            <div class="calendar-left">
                <div class="hamburger">
                    <a class="statsButton" onclick="statsModal();">통계 보러가기</a>
                    <a class="statsButton" href="{% url 'account_logout' %}">로그아웃</a>
                </div>
                <!-- hamburger -->

                <div class="num-date" id="num-date"></div>
                <!--num-date -->
                <div class="day" id="day"></div>
                <!--day -->
                <div class="current-events" id="positionChange_">
                    <strong>오늘의 소비 기록</strong>
                    <br />
                    <ul class="today">
                        <li id="todayRecord" style="overflow: hidden; margin-right: 5px">오늘의 소비를 기록해보세요</li>
                    </ul>
                </div>
                <div id="positionChange">
                    <div class="current-events">
                        <strong>오늘의 감정?</strong>
                        <br />
                        <ul class="today">
                            <li id="todayEmotion">오늘 나의 소비 감정은?</li>
                            <div id="todayEmotion_emo"></div>
                        </ul>
                    </div>
                    <div class="current-events">
                        <strong>오늘의 나는?</strong>
                        <br />
                        <ul class="today">
                            <li id="todayType">오늘 나의 소비 타입은?</li>
                            <div style="margin-left:20px;"><img src="" alt="" id="todayTypeImg" style="width: 50px" /></div>
                        </ul>
                    </div>
                </div>

                <!--current-events -->

                <!-- <div class="create-event">Create an Event</div> -->
                <!-- create-event -->
                <!-- <hr class="event-line" />
                <div class="add-event"><span class="add">+</span></div> -->
                <!-- add-event -->
            </div>
            <!-- calendar-left -->
        </div>
        <!-- container -->
        <!-- daily modal -->
        <div id="bg"></div>
        <div id="dailyModal">
            <div class="modal_container">
                <a href="" class="close" onclick="close();"><i class="fas fa-times"></i></a>
                <form action="{% url 'create' %}" method="POST">
                    {%csrf_token%}
                    <div><span id="modalDate" class="formTitle"></span><span style="font-size: 20px; font-weight: bold">일</span></div>
                    <label for="record" class="formTitle" style="display: inline">오늘의 소비 기록</label>
                    <textarea name="record" class="record" id="record" cols="30" rows="10"></textarea>
                    <label for="emotion" class="formTitle">오늘의 감정?</label>
                    <div class="input_container">
                        <input type="radio" name="emotion" value="happy" id="happy" /><label for="happy"><i class="far fa-laugh-beam"></i></label>
                        <input type="radio" name="emotion" value="laugh" id="laugh" /><label for="laugh"><i class="far fa-laugh-squint"></i></label>
                        <input type="radio" name="emotion" value="star" id="star" /><label for="star"><i class="far fa-grin-stars"></i></label>
                        <input type="radio" name="emotion" value="regret" id="regret" /><label for="regret"><i class="far fa-tired"></i></label>
                        <input type="radio" name="emotion" value="sad" id="sad" /><label for="sad"><i class="far fa-sad-cry"></i></label>
                        <input type="radio" name="emotion" value="angry" id="angry" /><label for="angry"><i class="far fa-angry"></i></label>
                    </div>
                    <label for="type" class="formTitle">오늘의 나는?</label>
                    <div class="input_container">
                        <div class="radiofire">
                            <input type="radio" name="type" value="fire" id="fire" />
                            <label for="fire"><img src="{% static 'img/fire.png' %}" alt="파이어족 이미지" /></label>
                        </div>
                        <div class="radioyolo">
                            <input type="radio" name="type" value="yolo" id="yolo" />
                            <label for="yolo"><img src="{% static 'img/yolo.png' %}" alt="욜로 이미지" /></label>
                        </div>
                    </div>
                    <input style="display: none" type="text" name="date" id="date_only" value="0" />
                    <br />
                    <input type="submit" name="submit" id="submit" value="제출하기" />
                </form>
            </div>
        </div>

        <!-- stats modal -->
        <div id="statsModal">
            <div class="modal_container">
                <a href="" class="close" onclick="close();"><i class="fas fa-times"></i></a>
                <h2 class="formTitle">나는 욜로족일까 파이어족일까?</h2>
                <div class="rate">
                    <div class="yoloRate" id="yoloRate">
                        <img src="{% static 'img/yolo.png' %}" alt="" />
                        <span id="yoloRateText">{{yolo_rate}}%</span>
                    </div>
                    <div class="fireRate" id="fireRate">
                        <span id="fireRateText">{{fire_rate}}%</span>
                        <img src="{% static 'img/fire.png' %}" alt="" />
                    </div>
                </div>
                <h2 class="formTitle">지난 소비에 대한 나의 감정</h2>
                <div class="input_container" style="margin-bottom: 30px">
                    <div class="emotionStats">
                        <div class="happy">
                            <i class="far fa-laugh-beam"></i>
                            <span id="totalHappy">1</span>
                        </div>
                        <div class="laugh">
                            <i class="far fa-laugh-squint"></i>
                            <span id="totalLaugh">1</span>
                        </div>
                        <div class="star">
                            <i class="far fa-grin-stars"></i>
                            <span id="totalStar">1</span>
                        </div>
                        <div class="regret">
                            <i class="far fa-tired"></i>
                            <span id="totalRegret">1</span>
                        </div>
                        <div class="sad">
                            <i class="far fa-sad-cry"></i>
                            <span id="totalSad">1</span>
                        </div>
                        <div class="angry">
                            <i class="far fa-angry"></i>
                            <span id="totalAngry">1</span>
                        </div>
                    </div>
                </div>
                <h2 class="formTitle">YOLOPAY의 평가</h2>
                <div class="input_container">
                    <div id="evaluation">
                        지난 시간동안 YOLO로 사셨군요!!<br />
                        괜찮아요~ 다음부터 아끼면 돼죠!<br />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    window.onload = function(){
        var records = [
            {% for record in records %}
                {
                    seq : "{{ record.seq }}",
                    body : "{{ record.body }}",
                    emotion : "{{ record.emotion }}",
                    yolo_fire : "{{ record.yolo_fire }}",
                    date : "{{ record.date }}"
                },
            {% endfor %}
        ]

        let now = new Date();
        let todayDate = now.getDate();
        let emotion_html = {
            "happy": `<i class="far fa-laugh-beam"></i>`,
            "laugh":`<i class="far fa-laugh-squint"></i>`,
            "star": `<i class="far fa-grin-stars"></i>`,
            "regret": `<i class="far fa-tired"></i>`,
            "sad": `<i class="far fa-sad-cry"></i>`,
            "angry": `<i class="far fa-angry"></i>`
        }
        console.log(records);

        for(var record in records) {
            var temp = records[record];
            if (temp['yolo_fire'] == 'yolo') {
                document.getElementById(temp['date']).src = "../static/img/yolo.png";
            }
            else {
                document.getElementById(temp['date']).src = "../static/img/fire.png";
            }
            if (temp['date'] == todayDate) {
                document.getElementById('todayRecord').innerHTML = temp['body'];
                document.getElementById('todayEmotion').innerHTML = "";
                document.getElementById('todayEmotion_emo').innerHTML = emotion_html[temp['emotion']];
                document.getElementById('positionChange').style.display='flex';
                document.getElementById('positionChange').style.margin='flex';
                document.getElementById('positionChange_').style.height='120px';
                
                if (temp['yolo_fire'] == 'yolo') {
                    document.getElementById('todayType').innerHTML = "";
                    document.getElementById('todayTypeImg').src = "../static/img/yolo.png";
                }
                else {
                    document.getElementById('todayType').innerHTML = "";
                    document.getElementById('todayTypeImg').src = "../static/img/fire.png";
                }
            }
        }

    }
</script>
