<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mainpage</title>
</head>

<style>
    body{text-align:center}

    .main{
        width:300px;
        background-color: #C6D57E;
        margin:50px;
    }

    .container{
        display:inline-block;
    }
</style>

<body>
    <div class="container">
        <div class = "main">
            <h1>Yolopay</h1>
            <h3>욜로페이를 찾아오신 당신의 이번달은</h3>
            <h3>과연 욜로족?? 파이어족??</h3>
            <a href="{% url 'calendar' %}">시작하기</a>    
        </div>
    </div>
    
</body>
</html>